@media screen and (min-width: 768px) {
.container {
  max-width: 768px;
} 
/* #region header */
/* #endregion header */
 /* #region hero */
 .page-title {
    padding: 112px 0;
    max-width: 768px;
    background-image:linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/device-images/tablet-bg.jpg");
 }
 .main-title{
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    
 }
 /* #endregion hero */   
/* #region work ethics */
.list-ethics {
  gap: 24px;
}
.item-ethics {
  width: calc((100% - 24px) / 2);
}
.subt-ethics {
  text-align: start;
}
/* #endregion work ethics */

/* #region team */
.team-list {
  gap: 24px; 
  row-gap: 64px;
}
/* #endregion team */

/* #region portfolio */
.portf-item {
  width: calc((100% - 24) / 2); 
}
.portf-list {
  gap: 24px;
  row-gap: 72px;
  }

/* #endregion portfolio */
}
/* #region footer*/
.page-footer-container {

}
/* #endregion footer*/
